In [2]:
import matplotlib.pyplot as plt
import pandas as pd

df = pd.read_csv('SuperCleaned.csv')

df.head()

/var/folders/9k/b_vy9rw147729qrz8n_rjjl00000gn/T/ipykernel_14511/3292448591.py:4: DtypeWarning: Columns (101,107,108,140,141,145,146,147,153,154,158,159,160) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('SuperCleaned.csv')

,Unnamed: 0,ID,NAME,COUNTRY,Full name,Birthdate,Birthplace,Died,Date_of_death,Age,...,BOWLING_T20s_Runs,BOWLING_T20s_Wkts,BOWLING_T20s_BBI,BOWLING_T20s_BBM,BOWLING_T20s_Ave,BOWLING_T20s_Econ,BOWLING_T20s_SR,BOWLING_T20s_4w,BOWLING_T20s_5w,BOWLING_T20s_10
0,0,8772,Henry Arkell,England,Henry John Denham Arkell,1898-06-26,"Edmonton, Middlesex",Dead,12/03/82,84.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,532565,Richard Nyren,England,Richard Nyren,1734-04-25,"Eartham, Sussex",Dead,1797-04-25,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,16856,Sydney Maartensz,England,Sydney Gratien Adair Maartensz,1882-04-14,"Colombo, Ceylon",Dead,10/09/67,85.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,16715,Brian Lander,England,Brian Richard Lander,09/01/42,"Bishop Auckland, Co Durham",Alive,NaN,77.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,15989,Derek Kenderdine,England,Derek Charles Kenderdine,1897-10-28,"Chislehurst, Kent",Dead,28/08/47,50.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Observations:
- What to do with empty values? Ask it to be excluded everytime a graph is made automatically?
-

In [ ]:
# azure_openai.py
import requests

def call_azure_openai(prompt):
    url = "https://<your-endpoint>.openai.azure.com/openai/deployments/<your-deployment>/completions?api-version=2023-05-15"
    headers = {
        "Content-Type": "application/json",
        "api-key": "<your-api-key>"
    }
    data = {
        "prompt": prompt,
        "max_tokens": 100,
        "temperature": 0,
        "model": "gpt-40"
    }
    
    response = requests.post(url, headers=headers, json=data)
    return response.json()